body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.calculatorBody {
  border: 3px solid #005eb8;
  width: 600px;
}

h1 {
  background-color: #005eb8;
  color: white;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.calculatorInnerContent {
  padding: 10px;
}

.optionTabs {
  border-bottom: 3px solid #004b93;
  display: flex;
  justify-content: space-between;
}

.tabButton {
  background-color: #768692;
  border-radius: 10px 10px 0 0;
  color: white;
  font-size: 1.5em;
  padding: 10px;
  width: 49%;
}

.tabButton.active {
  background-color: #005eb8;
}

.tabButton:hover {
  background-color: rgba(255, 235, 59, 1);
  color: black;
}

div {
  margin-bottom: 10px;
}

.unitsSwitch,
.reset {
  color: #005eb8;
  float: right;
}

<<<<<<< HEAD
.hiddenBox {
=======
.reset:hover,
.unitsSwitch:hover {
  color: #7c2855;
  text-decoration: none;
}

.hidden {
>>>>>>> 84bfd1d8266bd70019906241c761b205eed863d1
  display: none;
}

.traitBox {
  display: inline-block;
}

.traitBox label {
  color: #4c6272;
  display: block;
  margin-bottom: 20px;
}

.traitBox input:focus {
  box-shadow: 0em 0em 0em 0.15em rgba(255, 235, 59, 1);
}

.traitBox input {
  border-radius: 7px;
  font-size: 1em;
  height: 2em;
  width: 100px;
  padding: 5px;
}

.sexTraitBox input {
  border-radius: 8px;
  transform: scale(2);
  margin: 10px;
}

.sexTraitBox label {
  margin: 10px;
}

.calculateBox {
  margin-top: 30px;
}

.calculateButton {
  background-color: #007f3b;
  border-radius: 7px;
  color: white;
  font-size: 1.5em;
  padding: 15px;
}

.calculateButton:hover {
  background-color: #006747;
}

.reset {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .calculatorBody {
    width: 100%;
  }
}
