body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.calculatorBody {
  border: 3px solid #1565c0;
  width: 600px;
}

h1 {
  background-color: #1565c0;
  color: white;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.calculatorInnerContent {
  padding: 10px;
}

.optionTabs {
  border-bottom: 3px solid #1565c0;
  display: flex;
  justify-content: space-between;
}

.tabButton {
  background-color: #1565c0;
  border-radius: 10px 10px 0 0;
  color: white;
  font-size: 1.5em;
  padding: 10px;
  width: 49%;
}

div {
  margin-bottom: 10px;
}

#unitsSwitch {
  color: #1565c0;
  float: right;
}

.hidden {
  display: none;
}

.traitBox {
  display: inline-block;
}

.traitBox label {
  display: block;
  margin-bottom: 20px;
}

.traitBox input {
  border-radius: 7px;
  font-size: 1em;
  height: 2em;
  width: 100px;
  padding: 5px;
}

.sexTraitBox input {
  transform: scale(2);
  margin: 10px;
}

.sexTraitBox label {
  margin: 10px;
}

.calculateBox {
  margin-top: 30px;
}

.calculateButton {
  background-color: #007a32;
  border-radius: 7px;
  color: white;
  font-size: 1.5em;
  padding: 15px;
}
.reset {
  color: #1565c0;
  float: right;
  margin-top: 20px;
}
@media only screen and (max-width: 600px) {
  .calculatorBody {
    width: 100%;
  }
}
